<div
  id="carouselExampleControls-2"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="product-cart">
          <img src="../static/images/products/f5.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>
        <div class="product-cart">
          <img src="../static/images/products/f6.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>
        <div class="product-cart">
          <img src="../static/images/products/f7.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>

        <div class="product-cart">
          <img src="../static/images/products/f8.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex justify-content-around">
        <div class="product-cart">
          <img src="../static/images/products/n1.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>

        <div class="product-cart">
          <img src="../static/images/products/n2.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>
        <div class="product-cart">
          <img src="../static/images/products/n3.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>

        <div class="product-cart">
          <img src="../static/images/products/n4.jpg" alt="product image" />
          <span>adidas</span>
          <h4>Cartoon Astronaut T-Shirts</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <h4 class="price">$78</h4>
          <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
        <div class="card-wrapper container-sm d-flex justify-content-around">
          <div class="product-cart">
            <img src="../static/images/products/f1.jpg" alt="product image" />
            <span>adidas</span>
            <h4>Cartoon Astronaut T-Shirts</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$78</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
  
          <div class="product-cart">
            <img src="../static/images/products/f1.jpg" alt="product image" />
            <span>adidas</span>
            <h4>Cartoon Astronaut T-Shirts</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$78</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          <div class="product-cart">
            <img src="../static/images/products/f2.jpg" alt="product image" />
            <span>adidas</span>
            <h4>Cartoon Astronaut T-Shirts</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$78</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
          <div class="product-cart">
            <img src="../static/images/products/f3.jpg" alt="product image" />
            <span>adidas</span>
            <h4>Cartoon Astronaut T-Shirts</h4>
            <div class="stars">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="price">$78</h4>
            <a href="#"><i class="fa-solid fa-cart-shopping buy-icon"></i></a>
          </div>
        </div>
      </div>
      
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls-2"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls-2"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>